{% extends "index.html" %}
{% block title %}
Products
{% endblock title %}

{% block body %}
<!-- Section-->
<section class="py-5">
    <div class="container mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            {% for item in items.items %}
            {% include "includes/purchase_modal.html" %}
            <div class="col mb-5">
                <div class="card h-100" style="width: 15rem;">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ url_for('static', filename='images/' + item.image) }}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ item.name }}</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            <span class="text-muted">{{ item.price }}$</span>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent text-center">
                        <a class="btn btn-dark btn-sm mt-auto" href="{{ url_for('product_detail', id=item.id) }}">View Detail</a>
                        <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#purchaseModal-{{ item.id }}">Add to Cart</button>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="text-center">
        {% if items.iter_pages() %}
        {% if items.has_prev %}
        <a class="btn btn-dark btn-sm" href="{{url_for('allproducts', page=items.prev_num)}}">Prev</a>
        {% endif %}
        {% for page_num in items.iter_pages() %}
        {% if page_num %}
        {% if items.page == page_num %}
        <a class="btn btn-dark btn-sm" href="{{url_for('allproducts', page=page_num)}}">{{page_num}}</a>
        {% else %}
        <a class="btn btn-outline-dark btn-sm" href="{{url_for('allproducts', page=page_num)}}">{{page_num}}</a>
        {% endif %}
        {% else %}
            ...
        {% endif %}
        {% endfor %}
        {% if items.has_next %}
        <a class="btn btn-dark btn-sm" href="{{url_for('allproducts', page=items.next_num)}}">Next</a>
        {% endif %}
        {% endif %}
        </div>
    </div>
</section>

{% endblock body %}