{% extends "index.html" %}
{% block title %}
Products Detail
{% endblock title %}

{% block body %}
{% include "includes/purchase_modal.html" %}
<div class="container px-4 px-lg-5 mt-5">
  <div class="row justify-content-center">
    <div class="col mb-5">
        <div class="card h-100">
            <!-- Sale badge-->
            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
            <!-- Product image-->
            <img class="card-img-top" src="{{ url_for('static', filename='images/' + item.image) }}" alt="..." />
        </div>
    </div>

    <div class="col mb-5">
        <!-- Product details-->
        <div class="container">
            <div class="text-left">
                <!-- Product name-->
                <h2 class="fw-bolder">Product Name: {{ item.name }}</h2>
                <!-- Product Description-->
                <h5>Product Description: {{ item.description }}$</h5><br>
                <!-- Product reviews-->
                <div class="d-flex small text-warning mb-2">
                    <h6 class="text-dark">Product Ratings: &ensp;</h6>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                </div>
                <!-- Product price-->
                <h5>Product Price: {{ item.price }}$</h5>
            </div>
        </div><br>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent text-right">
            <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#purchaseModal-{{ item.id }}">Add to Cart</button>
        </div>
    </div>

  </div>
</div>


{% endblock body %}