{% extends "index.html" %}
{% block title %}
    Registration Page
{% endblock title %}

{% block body %}
<br>
<div class="container">
  <div class="row">
  <div class="col-lg-6 col-md-10 mx-auto content">
    <div class="text-center">
    <img class="mb-1" src="{{ url_for('static', filename='assets/aaa1.png') }}">
    <h1 class="h3 mb-3 font-weight-normal">
        Please create your account!
    </h1><br>
    </div>
    <form method="POST" class="form-register" style="color:blue" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.username.label() }}
        {{ form.username(class="form-control", placeholder='User Name') }}<br>
        {{ form.email.label() }}
        {{ form.email(class="form-control", placeholder='Email Address') }}<br>
        {{ form.password1.label() }}
        {{ form.password1(class="form-control", placeholder='Enter Password') }}<br>
        {{ form.password2.label() }}
        {{ form.password2(class="form-control", placeholder='Confirm Password') }}<br>
        {{ form.image.label() }}
        {{ form.image(class="form-control", placeholder='Image') }}<br>
        {{ form.submit(class="btn btn-block btn-primary") }}<br><br>
        <p>Already have an account then <a style="color:blue" href="{{ url_for('login') }}">Login Here</a></p>
        <br>
    </form>
  </div>
  </div>
</div>

{% endblock body %}
